/alternatif_janji_temu.html
/alternatif_janji_temu.php
/css
/data_dokter_spesialis.json
/get_spesialis.php
/halaman_akreditasi.html
/halaman_artikel_islami.html
/halaman_artikel_kesehatan.html
/halaman_cari_dokter.php
/halaman_detail_artikel_islami.html
/halaman_detail_artikel_kesehatan.html
/halaman_detail_event.html
/halaman_detail_janji_temu.php
/halaman_detail_karir.html
/halaman_detail_promosi.html
/halaman_event.html
/halaman_janji_temu.php
/halaman_karir.html
/halaman_klinik_spesialis.php
/halaman_kms.html
/halaman_konsultasi_syariah.html
/halaman_layanan.html
/halaman_pencarian.html
/halaman_profil_dokter.php
/halaman_profil_dps.html
/halaman_program_kesyariahan.html
/halaman_promosi.html
/halaman_sejarah.html
/halaman_spesialis.php
/halaman_struktur_organisasi.html
/halaman_test.html
/halaman_visi_misi.html
/image
/javascript
/JSON
/materi modal.html
/PHP
/process_appointment.php